{% extends 'base.html.twig' %}

{% block title %}
    Admin des taxes
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-2">
        <h1 class="text-center">Administration des taxes</h1>
        <a href="{{ path('admin.taxes.create') }}" class="btn btn-primary">Créer un taxe</a>
        <div class="row mt-2">
            {% for taxe in taxes %}
                <div class="col-md-4">
                    <div class="card">
                        <p>
                            Nom :
                            {{ taxe.name }}
                        </p>
                        <p>
                            Pourcentage :
                            {{ taxe.rate }}
                        </p>
                        <p>
                            Actif :
                            {{ taxe.enable }}
                        </p>
                        <div class="card-btn">
                            <a href="{{ path('admin.taxes.update', {id: taxe.id})}}"
                               class="btn btn-warning col-md-3">Modifier</a>
                            {% include 'Backend/Taxe/_form.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}